
    /* Paleta de colores y utilidades */
    :root {
        --blanco: #ffffff;
        --oscuro: #000000;
        --primario: #af00b8;
        --secundario: #0097A7;
        --gris: #e2e2e2;
        --grisClaro: #DFE9F3;
    }

    /* Globales */

    * {
        min-width: 0;
        font: inherit;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    img, video, svg {
        display: block;
        height: auto;
        max-width: 100%;
    }

    body {
        margin: 0;
        min-height: 100dvh;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }

    /* Estilos de utilidad */

    ul[role='list'], ol[role='list'] {
        list-style: none;
    }

    html:focus-within{
        scroll-behavior: smooth;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    input, button, textarea, select{
        font: inherit;
    }