
    /* Paleta de colores y utilidades */
    :root {
        --blanco: #ffffff;
        --fondo: #dee2e6;
        --oscuro: #000000;
        --primario: #af00b8;
        --secundario: #0097A7;
        --gris: #e2e2e2;
        --grisClaro: #DFE9F3;
    }

    /* Globales */

    * {
        min-width: 0;
        font: inherit;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        min-height: 100vh;
    }

    html{
        background: var(--fondo);
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }

    /* Estilos de utilidad */

    ul[role='list'], ol[role='list'] {
        list-style: none;
    }

    html:focus-within{
        scroll-behavior: smooth;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    input, button, textarea, select{
        font: inherit;
    }

    /* Estilo a login */

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        border: 2px solid rebeccapurple;
    }


    /* Estilos de nav */

    .nav-content{
        height: 50px;
        border: 2px solid red;
    }
